* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.content{
    border: 3px solid black;
    border-radius: 10px;
    width: 350px;
    background: white;
    padding: 20px;
    box-shadow: black;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    background: grey;
    padding: 15px;
}

.avatar img {
    width: 100px;
    height: 100px;
    border-radius: 60%;
}

.bio {
    text-align: left;
}

.estadisticas {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    text-align: center;
}

.estadisticas div {
    flex: 1;
}

.botones {
    display: flex;
    gap: 10px;
}

.botones button {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.seguir {
    flex: 2;
    background: blue;
    color: white;
}

.mensaje {
    flex: 1;
    background: white;
}

