/*Centrarlo, rellena la  página sin repetirse e impide el desplazamiento si la página no cabe*/
body {
    background: fixed;
    background-color: #f2d6a2;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin: 5px;
    padding: 5px;
}

/*El color de fondo, el color de texto y borde lateral de otro color*/
h1 {
    background-color: grey;
    color: white;
    font-family: "Rubik 80s Fade", system-ui;
    border-left: 14px solid red;
}

/*Borde negro redondeado, junto al sombreado de la img: x y sombreado color*/
img {
    border: 7px solid black;
    border-radius: 12px;
    box-shadow: 0 0 10px black;
}

/*Quitar puntos*/
ul {
    list-style-type: none;
}

/*Borde que lo rodee, misma línea todos*/
li {
    border: 1.5px solid black;
    display: inline;
}

